html {
  scroll-behavior: smooth;
}

.container {
  @apply max-w-7xl mx-auto px-2;
}

.highlight {
  @apply font-proximaBold text-rifleGreen text-5xl dark:text-accent;
}

.section {
  display: grid;
  width: 100%;
  place-items: center;
  background-size: cover;
  background-position: center;
}

.section > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.section_bck {
  @apply grid grid-cols-5 h-full w-full absolute z-[0];
}


/* Seleccion */

::selection {
  @apply bg-rifleGreen bg-opacity-80 text-white;
}

::-moz-selection {
  @apply bg-rifleGreen bg-opacity-80 text-white;
}

/**
* Scrolling CSS
*/
#header {
  transition: all ease .65s;
}

#partner {
  transition: all ease .65s;
}

#logo {
  transition: all ease .65s;
}

.menu-nav {
  transition: all ease .65s;
}

#header.scroll {
  transition: all ease .65s;
  @apply bg-rifleGreen/40 backdrop-blur-sm;
  position: fixed;
  @apply shadow shadow-[rgba(0,0,0,0.20)];
}

.menu-nav.scroll {
  transition: all ease .65s;
  @apply text-white;
}

#logo.scroll {
  @apply text-white;
  transition: all ease .65s;
}
/* Termina scroll */